*{
    transition: .3s ease-in-out;
}

.container{
    padding: 10px;
}
#maze{
    height: 100vh;
    padding: 0;
    line-height: 0;    
}

.cell{
    /* padding: 0;
    margin: 0; */
    border: 1px solid black;
    display: inline-block;  
    text-align: center;
    box-shadow: inset 5px black;
    color: white;
}
.free-cell{
    background-color: lightskyblue;
}
.wall-cell{
    background-color: #2c3e50;
}
.door-cell-red {
    background-color:#e74c3c;
    /*padding: 5px;*/
    
    color:white;
}

.door-cell-blue {
    background-color: #2980b9;
    /*padding: 5px;*/
    
}

.door-cell-green {
    background-color:#27ae60;
    /*padding: 5px;*/
    
}

.door-cell-yellow {
    background-color:#f39c12;
    /*padding: 5px;*/
    
}

.key-cell-red i{
    color :#e74c3c;
    background-color: transparent;
    /*padding: 5px;*/
    
}

.key-cell-blue i{
    color: #2980b9;
    background-color: transparent;
    /*padding: 5px;*/
    
}

.key-cell-green i{
    color:#27ae60;
    background-color: transparent;
    /*padding: 5px;*/
    
}

.key-cell-yellow i{
    color:#f39c12;
    background-color: transparent;
    /*padding: 5px;*/
    
}
#menu{
    font-size: 32px;
}
#menu>div {
    cursor: pointer;
}
.door-green i,.key-green i{
    color: #27ae60;
}
.door-red i,.key-red i{
    color: #e74c3c;
}
.door-blue i,.key-blue i{
    color: #2980b9;
}
.door-yellow i,.key-yellow i{
    color: #f39c12;
}
.wall  i{
    color:#2c3e50;
}
i{
    /* padding: 20px; */
    padding: 5px;
}
.player-cell,.exit-cell{
    background-color: #8e44ad;
}

.path{
    background-color: #2ecc71 !important;
}